OPENAI_API_KEY = 'your_api_key_here' # from https://beta.openai.com/account/api-keys


class Config(object):
    DEBUG = True
    TESTING = False

class DevelopmentConfig(Config):
    SECRET_KEY = "8473b9c0-5b6c-11eb-ae93-0242ac130002"


config = {
    'development': DevelopmentConfig,
    'testing': DevelopmentConfig,
    'production': DevelopmentConfig
}